<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405088979256-0uiko8guqlk80rgepc7piarkai2t65ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405088979256-0uiko8guqlk80rgepc7piarkai2t65ag</string>
	<key>API_KEY</key>
	<string>AIzaSyA5oEXkmtYTMOhqPDCgWALCFgptResm2cE</string>
	<key>GCM_SENDER_ID</key>
	<string>405088979256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facultyColloboration.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>facultyapp-15f6c</string>
	<key>STORAGE_BUCKET</key>
	<string>facultyapp-15f6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405088979256:ios:84e63d4c2329c9fc8399cd</string>
</dict>
</plist>